{% extends "layout.html" %}

{% block title %}About - {% endblock %}
{% block head %}
	<meta name="description" content="Find out about Six Degrees of Kanye West and what it's all about - Six Degrees of Kanye West">
	<script type="application/ld+json">
	{
	    "@context": "http://schema.org",
	    "@type": "WebSite",
	    "url": "http://sixdegreesofkanyewest.com/",
	    "mentions": {
	    	"@type": "Person",
	    	"name": "Kanye West",
	    	"url": "http://kanyewest.com"
	    },
	    "author": {
	    	"@type": "Person",
	    	"url": "https://www.sunnyamrat.com"
	    },
	    "potentialAction": {
	      "@type": "SearchAction",
	      "target": "http://sixdegreesofkanyewest.com/artist?&q={q}",
	      "query-input": "required name=q",
	      "name": "Find Kanye number"
	    },
	    "about": "Find out how many features your favourite artist is from Kanye West!"
	}
	</script>
	{{ super() }}
{% endblock %}
{% block body %}
	<div class="row">
		<div class="small-11 medium-9 small-centered columns text-center">
			<hr>
			<h3>About</h3>
			<p>Self-proclaimed "modern day rock star", Kanye West has collaborated with everyone from JAY Z to Paul McCartney.</p>
			<p>With his huge network, there's an enormous library of artists just a stone's throw away from Ye. But how short is that stone's throw? <a href="{{ url_for('index') }}">Search for an artist</a> and find out for yourself!</p>
			<p>This website gets its name from the theory of 'Six Degrees of Separation' in which every pair of people on the planet are on average just six connections away from one another.</p>
			<p>Website by <a href="https://www.sunnyamrat.com/">Sunny Amrat</a>.</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-9 small-centered columns">
			<div class="small-3 text-center columns">
				<a class="button share-button" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//sixdegreesofkanyewest.com{% if gen %}/{{ _id }}{% endif %}" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
			</div>
			<div class="small-3 text-center columns">
					<a class="button share-button" href="whatsapp://send?text=Search%20for%20an%20artist's%20Kanye%20number!%20http://sixdegreesofkanyewest.com" data-action="share/whatsapp/share"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
			</div>
			<div class="small-3 text-center columns">
					<a class="button share-button" target="_blank" href="http://twitter.com/intent/tweet?text=Find%20an%20artist's%20Kanye%20number!%20http://sixdegreesofkanyewest.com/{{ _id }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			</div>
			<div class="small-3 text-center columns">
				<a class="button share-button" href="//www.reddit.com/submit" onclick="window.open('//www.reddit.com/submit?url='+encodeURIComponent(window.location),'_blank');return false"><i class="fa fa-reddit" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
{% endblock %}
