{% extends "layout.html" %}

{% block title %}{% if name %}{{ name }} - {% endif %}{% endblock %}
{% block head %}
	<meta name="description" content="How many features away from Kanye West is your favourite artist? Type in their name to find out their Kanye number! - Six Degrees of Kanye West">
	<meta name="google-site-verification" content="Qvd_VCriQRt3NmJIfJrvv2sGli94pZ8CMlfn-t9HT-Y" />
	<script type="application/ld+json">
	{
	    "@context": "http://schema.org",
	    "@type": "WebSite",
	    "url": "http://sixdegreesofkanyewest.com/",
	    "mentions": {
	    	"@type": "Person",
	    	"name": "Kanye West",
	    	"url": "http://kanyewest.com"
	    },
	    "author": {
	    	"@type": "Person",
	    	"url": "https://www.sunnyamrat.com"
	    },
	    "potentialAction": {
	      "@type": "SearchAction",
	      "target": "http://sixdegreesofkanyewest.com/artist?&q={q}",
	      "query-input": "required name=q",
	      "name": "Find Kanye number"
	    },
	    "about": "Find out how many features your favourite artist is from Kanye West!"
	}
	</script>
	{{ super() }}
{% endblock %}
{% block tagline %}
<p>How many connections away is your favourite artist to Kanye West?</p>
{% endblock %}
{% block body %}
	<div class="row">
		<div class="small-11 medium-9 small-centered columns text-center">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<h1 class="not-found">Artist not found</h1>
					<p>Either this artist isn't connected to Kanye West (they might not make tracks featuring other artists) or we've made a mistake. If you think we've made a mistake, please <a href="https://goo.gl/forms/VsTyy0KOqOzZcyYU2" target="_blank">let us know</a>.</p>
					<hr>
				{% endfor %}
			{% endif %}
		{% endwith %}
			<form action="{{url_for('degree')}}" id="degree-submit" method="post">
				<input type="text" name="artist" class="artist" placeholder="Enter artist" maxlength="50" onkeyup="Expand(this);"/>
				<input type="submit" class="button form-submit default" id="submit" name="go" value="Search"/>
			</form>
			<a class="button" href="{{url_for('random') }}"><i class="fa fa-random" aria-hidden="true"></i> Random</a>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-9 small-centered columns">
			<div class="small-3 text-center columns">
				<a class="button share-button" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//sixdegreesofkanyewest.com{% if gen %}/{{ _id }}{% endif %}" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
			</div>
			<div class="small-3 text-center columns">
					<a class="button share-button" href="whatsapp://send?text=Search%20for%20an%20artist's%20Kanye%20number!%20http://sixdegreesofkanyewest.com" data-action="share/whatsapp/share"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
			</div>
			<div class="small-3 text-center columns">
					<a class="button share-button" target="_blank" href="http://twitter.com/intent/tweet?text=Find%20an%20artist's%20Kanye%20number!%20http://sixdegreesofkanyewest.com/{{ _id }}%20#sixdegrees"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			</div>
			<div class="small-3 text-center columns">
				<a class="button share-button" href="//www.reddit.com/submit" onclick="window.open('//www.reddit.com/submit?url='+encodeURIComponent(window.location),'_blank');return false"><i class="fa fa-reddit" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
{% endblock %}
