<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>{% if name %}{{ name }} - {% endif %}Six Degrees Of Kanye West</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script>
$(document).ready(function() {
    $.ajax({
        url: '{{ url_for("autocomplete") }}'
    }).done(function (data) {
        $('.artist').autocomplete({
            source: data
        });
    });
})

$(function() {
    $(".artist").autocomplete({
        source:function(request, response) {
            $.getJSON("{{url_for('autocomplete')}}",{
                q: request.term,
            }, function(data) {
                response(data);
            });
        },
        minLength: 2
    });
})
	</script>
</head>
<body>
	<div class="row">
		<div class="small-12 columns text-center main-box">
			<h1>SIX DEGREES<br>OF<br><span class="kanye-west">KANYE WEST</span></h1>
		</div>
	</div>
	<div class="row">
		{% if gen %}
			<div class="small-9 medium-10 small-centered columns text-center">
				<h2>{{ name.upper() }}'S KANYE NUMBER IS <span class="kanye-number">{{ gen }}</span></h2>
				<h3 class="result">Here's how they're linked:</h3>
				{% for item in result %}
					{% if song %}
						<h4 class="song"><a class="track-link" href="https://open.spotify.com/track/{{ item[0] }}" target="_blank">{{ item[1] }}</a></h4>
						<iframe src="https://embed.spotify.com/?uri=spotify:track:{{ item[0] }}&amp;theme=white&amp;view=coverart" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
						{% set song=False %}
					{% else %}
						<h4 class="artist">{{ item }}</h4>
						{% set song=True %}
					{% endif %}
				{% endfor %}
			<a class="button" href="{{ url_for('index') }}">Try another artist</a>
		</div>
		{% else %}
			<div class="small-9 medium-9 small-centered columns text-center">
			{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<h1 class="not-found">{{ message }}</h1>
				{% endfor %}
			{% endif %}
			{% endwith %}
				<form action="{{url_for('degree')}}" method="post">
					<input type="text" name="artist" class="artist" placeholder="Enter artist name" maxlength="50" onkeyup="Expand(this);"/>
					<br><input type="submit" class="default" id="submit" name="go" value="Submit"/>
				</form>
			</div>
		{% endif %}
	</div>


	<script src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/foundation.js') }}"></script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-81336038-1', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>
