<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Six Degrees Of Kanye West</title>
	<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="static/css/foundation.css">
	<link rel="stylesheet" href="static/css/app.css">
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<div class="expanded row">
		<div class="small-12 columns text-center main-box">
			<h1>SIX DEGREES</h1>
			<h1>OF</h1>
			<h1 class="kanye">KANYE WEST</h1>
		</div>
	</div>
	<div class="expanded row">
		<div class="small-12 columns text-center">
			<form method="post">
				<input type="text" class="artist" placeholder="Enter artist name" maxlength="30" onkeyup="Expand(this);"/>
				<br><input type="submit" id="submit" name="go" value="Submit"/>
			</form>
		</div>
	</div>


	<script src="static/js/vendor/jquery.js"></script>
	<script src="static/js/vendor/what-input.js"></script>
	<script src="static/js/vendor/foundation.js"></script>
	<script src="static/js/app.js"></script>
</body>
</html>
