<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
	<title>{% block title %}{% if name %}{{ name }} - {% endif %}{% endblock %}Six Degrees Of Kanye West</title>
	{% block head %}
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="theme-color" content="#F79C6A" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.theme.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.structure.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script>
		$(function() {
		    $(".artist").autocomplete({
		        source:function(request, response) {
		            $.getJSON("{{url_for('autocomplete')}}",{
		                q: request.term,
		            }, function(data) {
		                response(data);
		            });
		        },
		        minLength: 2,
		        select:function(event, ui) {
		        	$(".artist").val(ui.item.label);
		        	$("#submit").click();
		        }
		    });
		})
	</script>
	{% endblock %}
</head>
<body>
	<div class="row">
		<div class="small-12 columns text-center main-box">
			<h1><a href="{{ url_for('index') }}" class="leader-text">SIX DEGREES<br>OF<br><span class="kanye-west">KANYE WEST</span></a></h1>
		</div>
	</div>
	{% block body %}
	{% endblock %}

	<div class="row">
		<div class="small-10 small-centered text-center columns bottom-text">
			<a href="{{ url_for('about') }}">About</a> | <a target="_blank" href="https://goo.gl/forms/VsTyy0KOqOzZcyYU2">Suggest an improvement</a> | <a target="_blank" href="https://twitter.com/sixdegreesofye"><i class="fa fa-twitter"></i></a> | <a target="_blank" href="https://www.facebook.com/sixdegreesofkanyewest/"><i class="fa fa-facebook-official"></i></a>
		</div>
	</div>

	{% block ad %}
	{% endblock %}


	<script src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/foundation.js') }}"></script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-81336038-1', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>
