@font-face {
  font-family: vcr;
  src: url(../fonts/vcr.ttf);
  font-weight: 400;
}

.row {
	margin-top: 30px;
}

.result {
  margin-top:30px;
  margin-bottom:30px;
}

h1, h2, h3, h4, p {
	font-family: vcr, 'Helvetica', 'Arial';
	color: #3F3F3F;
}

input.artist
{
    border: 0px solid #9B9B9B;
    border-bottom-width: 3px;
    background-color: transparent;
    font-size: 3rem;
    font-family: vcr, 'Arial';
    color: #535353;
    text-align: center;
    text-transform: uppercase;
    max-width: 100%
}

@media only screen and (max-width: 1023px) {
    h1, input.artist {
    	font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1023px) {
    input.artist {
    	width: 100%;
    	max-width: 100%;
    }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*#submit {
	visibility:hidden;
	display:none;
}*/

::selection {
  background: #f78c52; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #f78c52; /* Gecko Browsers */
}

.row {
  word-wrap: break-word;
  word-break: break-word;
}

.button {
  background-color:#CDCDCD;
  color:#3F3F3F;
  text-transform: uppercase;
  font-family: vcr, 'Arial';
  font-size:1.5rem;
  margin-top:30px;
}

.not-found {
  margin-top:30px;
  margin-bottom:30px;
  font-size: 1.5rem;
  background-color: #f78c52;
}

.track-link {
  color: #DC8B5E;
}
a:visited {
  color: #F79C6A;
}

.form-submit {
  border: none;
  color: #F79C6A;
  display: inline;
  margin-bottom: 40px;
  margin-top: 0px;
}

input {
  margin-bottom: 30px;
}